<table class="table table-condensed table-striped" ng-controller="listController as vm">
    <thead>
    <tr>
        <th>Item</th>
        <th>Location</th>
        <th>#</th>
        <th class="text-center">Delete</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.list">
            <td>{{item.name}}</td>
            <td>{{item.section}}</td>
            <td>{{item.quantity}}</td>
            <td class="text-center" ng-click="vm.deleteItem(item)"><span class="glyphicon glyphicon-remove-circle"></span></td>
        </tr>
    </tbody>
</table>
