<form ng-submit="vm.item">
    <input class="form-control" type="text" placeholder="Whatcha need?" ng-model="vm.item.name">
    </br>

    <select class="form-control" ng-model="vm.item.section" placeholder="Aisle">
        <option value="dairy">Dairy</option>
        <option value="produce">Produce</option>
        <option value="cereal">Cereal</option>
        <option value="bakery">Bakery</option>
        <option value="boring">Boring Aisle</option>
        <option value="frozen">Frozen</option>
        <option value="pasta">Pasta</option>
        <option value="snack">Snack</option>
    </select>
    </br>

    <select class="form-control input-sm" ng-model="vm.item.quantity" placeholder="#">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </br>
    </br>

    <button class="btn" ng-click="vm.addItem()">Add to list</button>
</form>
